html, body {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body{
  background-repeat: no-repeat; 
  background-size: cover;
  background-color:#FFFFFF;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  letter-spacing: 0.05em;
  color: #00387A;
  margin: auto;
}


/* STYLING NAVBAR */
.navbar {
    height: 122px;
    position: relative;
    z-index: 99;
  }
  
  .navbar-logo {
    width : 50px;
    height: 10px;
    float: left;
    
  }
  
  .navbar-list li {
    float: right;
    list-style: none;
    padding: 30px 40px;
    font-size: 20px;
    line-height: 23px;
    text-decoration : none;
    color: #000000;
  }
  
  .navbarbtn{
    list-style: none;
    text-decoration : none;
    color: #000000;
  }

.dropbtn {
  background-color: #FFB938;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #FF9731;
}


/* STYLING MAIN */
 .beasiswa h1 {
  position: absolute;
  width: 714px;
  height: 48px;
  left: 363px;
  top: 60px;  

   text-align: center;
   font-size: 64px;
 }

.beasiswa p {
  text-align: center;
  font-size: 24px;

  position: absolute;
  width: 714px;
  height: 48px;
  left: 363px;
  top: 180px;
}

.beasiswa table{
  text-align: left; 
 
}

.tableDjarum{
  position: absolute;
  width: 525px;
  height: 136px;
  left: 458px;
  top: 280px;
}

.tableBRI{
  position: absolute;
  width: 525px;
  height: 136px;
  left: 458px;
  top: 450px;
}


.beasiswa img {
  width: 150px; 
  height: 110px;
}

.beasiswa button{
  font-size: 16px; 
  color:white; 
  background-color: #0071B9; 
  border-radius: 30px; 
  width: 150px; 
  height: 40px; 
  
  border-style: none; 
}

.btnmain:hover {
  background-color: #2F4858; 
}


/* STYLING FOOTER */
.footer {
  position: absolute;
  width: 1440px;
  height: 48px;
  left: 0px;
  top: 637px;

  
  padding-bottom: 10px;

  background-color: #00387A;
  color: #FFFFFF;
}

.footer h3{
  top: 40px;
  float: right;
  padding-right: 24px;

  font-size: 14px;
}

