html, body {
  max-width: 100%;
}

body{
  background-repeat: no-repeat; 
  background-size: cover;
  background-color:#FFFFFF;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  letter-spacing: 0.05em;
  color: #00387A;
  margin: auto;
}


/* STYLING NAVBAR */
.navbar {
    height: 122px;
    position: relative;
    z-index: 99;
  }
  
  .navbar-logo {
    width : 50px;
    height: 10px;
    float: left;
    
  }
  
  .navbar-list li {
    float: right;
    list-style: none;
    padding: 30px 40px;
    font-size: 20px;
    line-height: 23px;
    text-decoration : none;
    color: #000000;
  }
  
  .navbarbtn{
    list-style: none;
    text-decoration : none;
    color: #000000;
  }



.dropbtn {
  background-color: #FFB938;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #FF9731;
}


/* STYLING MAIN */

/* HOT NEWS */
.info h1 {
  position: absolute;
  width: 714px;
  height: 48px;
  left: 363px;
  top: 60px;  

   text-align: center;
   font-size: 64px;
 }

.info p {
  text-align: center;
  font-size: 24px;

  position: absolute;
  width: 714px;
  height: 48px;
  left: 363px;
  top: 180px;
}

iframe {
  position: absolute;
  width: 473px;
  height: 267px;
  left: 482px;
  top: 371px;
}

/* ARTIKEL */
.artikel h1 {
  position: absolute;
  width: 714px;
  height: 48px;
  left: 363px;
  top: 780px;  

   text-align: center;
   font-size: 64px;
 }

.artikel p {
  text-align: center;
  font-size: 24px;

  position: absolute;
  width: 714px;
  height: 48px;
  left: 363px;
  top: 900px;
}

.artikel img{
  border-radius: 10px;
}

.artikel table {
  width: 75%;

  position: absolute;
  top: 1000px;
  left: 200px;
}

.artikel td{
  text-align: center;
}

button{
    text-align: center;
    background: #0071B9;
    border-radius: 30px;

    width: 150px;
    
   
    border: none;
    border-radius: 30px;
    text-align: center;
    transition: 0.3s;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    letter-spacing: 0.05em;
    color: #fff;
    font-size: 25px;
    line-height: 35px;
}

button:hover {
  background-color: #FFAF36;
  color: white;
}


/* CARI */
.cari h2 {
  position: absolute;
  width: 500px;
  height: 48px;
  left: 480px;
  top: 1560px;  

   text-align: center;
   font-size: 36px;
 }

.cari img {
  position: absolute;
  width: 741px;
  height: 517px;
  left: 349px;
  top: 1720px;
}

.btn{
  position: absolute;
  width: 206px;
  height: 51px;
  left: 618px;
  top: 2300px;

  background: #0071B9;
  border-radius: 30px;

  border: none;
  border-radius: 30px;
  text-align: center;
  transition: 0.3s;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  letter-spacing: 0.05em;
  color: #fff;
  font-size: 25px;
  line-height: 29px;
}

.btn:hover {
  background-color: #FFAF36;
  color: white;
}



 
/* STYLING FOOTER */
.footer {
  position: relative;
  width: 1440px;
  height: 48px;
  left: 0px;
  top: 2400px;
  padding-bottom: 10px;

  background-color: #00387A;
  color: #FFFFFF;
}

.footer h3{
  top: 40px;
  float: right;
  padding-right: 24px;

  font-size: 14px;
}

