html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body{
  background-repeat: no-repeat; 
  background-size: cover;
  background-color:#FFFFFF;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  letter-spacing: 0.05em;
  color: #00387A;
  margin: auto;
}


/* STYLING NAVBAR */
.navbar {
    height: 122px;
    position: relative;
    z-index: 99;
  }
  
  .navbar-logo {
    width : 50px;
    height: 10px;
    float: left;
    
  }
  
  .navbar-list li {
    float: right;
    list-style: none;
    padding: 30px 40px;
    font-size: 20px;
    line-height: 23px;
    text-decoration : none;
    color: #000000;
  }
  
  .navbarbtn{
    list-style: none;
    text-decoration : none;
    color: #000000;
  }



.dropbtn {
  background-color: #FFB938;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #FF9731;
}


/* STYLING MAIN */

/* SLIDESHOW */
.sp-slideshow {
  position: relative;
  margin: 10px auto;
  width: 80%;
  max-width: 1000px;
  min-width: 260px;
  height: 460px;
  border: 10px solid #ddd;
  border: 10px solid rgba(255,255,255,0.9);
  box-shadow: 0 2px 6px rgba(0,0,0,0.4);
}

.sp-content {
  background: #7d7f72 urlrepeat scroll 0 0;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sp-parallax-bg {
  background: repeat-x scroll 0 0;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sp-slideshow input {
  position: absolute;
  bottom: 15px;
  left: 50%;
  width: 9px;
  height: 9px;
  z-index: 1001;
  cursor: pointer;
  opacity: 0;
}

.sp-slideshow input + label {
  position: absolute;
  bottom: 15px;
  left: 50%;
  width: 6px;
  height: 6px;
  display: block;
  z-index: 1000;
  border: 3px solid #fff;
  border: 3px solid rgba(255,255,255,0.9);
  border-radius: 50%;
  transition: background-color linear 0.1s;
}

.sp-slideshow input:checked + label {
  background-color: #fff;
  background-color: rgba(255,255,255,0.9);
}

.sp-selector-1, .button-label-1 {
  margin-left: -36px;
}

.sp-selector-2, .button-label-2 {
  margin-left: -18px;
}
.sp-selector-4, .button-label-4 {
  margin-left: 18px;
}
.sp-selector-5, .button-label-5 {
  margin-left: 36px;
}

.sp-arrow {
  position: absolute;
  top: 50%;
  width: 28px;
  height: 38px;
  margin-top: -19px;
  display: none;
  opacity: 0.8;
  cursor: pointer;
  z-index: 1000;
  background: url("yeMfI0Q.png") no-repeat;
  transition: opacity linear 0.3s;
}

.sp-arrow:hover {
  opacity: 1;
}

.sp-arrow:active {
  margin-top: -18px;
}

.sp-selector-1:checked ~ .sp-arrow.sp-a2,
.sp-selector-2:checked ~ .sp-arrow.sp-a3,
.sp-selector-3:checked ~ .sp-arrow.sp-a4,
.sp-selector-4:checked ~ .sp-arrow.sp-a5 {
  right: 15px;
  display: block;
  background-position: top right;
}
.sp-selector-2:checked ~ .sp-arrow.sp-a1,
.sp-selector-3:checked ~ .sp-arrow.sp-a2,
.sp-selector-4:checked ~ .sp-arrow.sp-a3,
.sp-selector-5:checked ~ .sp-arrow.sp-a4 {
  left: 15px;
  display: block;
  background-position: top left;
}

.sp-slideshow input:checked ~ .sp-content {
  transition: background-position linear 0.6s, background-color linear 0.8s;
}

.sp-slideshow input:checked ~ .sp-content .sp-parallax-bg {
  transition: background-position linear 0.7s;
}

input.sp-selector-1:checked ~ .sp-content {
  background-position: 0 0;
  background-color: #EAF3FA;
}

input.sp-selector-2:checked ~ .sp-content {
  background-position: -100px 0;
  background-color: #EAF3FA;
}

input.sp-selector-3:checked ~ .sp-content {
  background-position: -200px 0;
  background-color: #EAF3FA;
}

input.sp-selector-4:checked ~ .sp-content {
  background-position: -300px 0;
  background-color: #EAF3FA;
}

input.sp-selector-5:checked ~ .sp-content {
  background-position: -400px 0;
  background-color: #EAF3FA;
}

input.sp-selector-1:checked ~ .sp-content .sp-parallax-bg {
    background-position: 0 0;
}

input.sp-selector-2:checked ~ .sp-content .sp-parallax-bg {
    background-position: -200px 0;
}

input.sp-selector-3:checked ~ .sp-content .sp-parallax-bg {
    background-position: -400px 0;
}

input.sp-selector-4:checked ~ .sp-content .sp-parallax-bg {
    background-position: -600px 0;
}

input.sp-selector-5:checked ~ .sp-content .sp-parallax-bg {
    background-position: -800px 0;
}

.sp-slider {
  position: relative;
  left: 0;
  width: 500%;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: left ease-in 0.8s;
}

.sp-slider > li {
  color: #fff;
  width: 20%;
  box-sizing: border-box;
  height: 100%;
  padding: 0 60px;
  float: left;
  text-align: center;
  opacity: 0.4;
  transition: opactiy ease-in 0.4s 0.8s;
}

.sp-slider > li img {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  padding: 40px 0 50px 0;
  max-height: 100%;
  max-width: 100%;
}

input.sp-selector-1:checked ~ .sp-content .sp-slider {
    left: 0;
}

input.sp-selector-2:checked ~ .sp-content .sp-slider {
    left: -100%;
}

input.sp-selector-3:checked ~ .sp-content .sp-slider {
    left: -200%;
}

input.sp-selector-4:checked ~ .sp-content .sp-slider {
    left: -300%;
}

input.sp-selector-5:checked ~ .sp-content .sp-slider {
    left: -400%;
}

input.sp-selector-1:checked ~ .sp-content .sp-slider > li:first-child,
input.sp-selector-2:checked ~ .sp-content .sp-slider > li:nth-child(2),
input.sp-selector-3:checked ~ .sp-content .sp-slider > li:nth-child(3),
input.sp-selector-4:checked ~ .sp-content .sp-slider > li:nth-child(4),
input.sp-selector-5:checked ~ .sp-content .sp-slider > li:nth-child(5){
    opacity: 1;
}

/* IMG */
.imgjumlah{
position: absolute;
width: 848px;
height: 202px;
left: 300px;
top: 700px;
}

/* LIST KAMPUS */
.rankingkampus h1 {
  position: absolute;
  width: 714px;
  height: 48px;
  left: 363px;
  top: 950px;  

   text-align: center;
   font-size: 64px;
 }

.rankingkampus p {
  text-align: center;
  font-size: 24px;

  position: absolute;
  width: 714px;
  height: 48px;
  left: 363px;
  top: 1150px;
}
.tabelkampus{
  position: absolute;
  top: 1300px;
  left: 230px;
  width: 1000px;
}

.rankingkampus th{
  color: #FFFFFF;

}

.rankingkampus button{
  color:white; 
  background-color: #0071B9; 
  border-radius: 30px; 
  width: 80px; 
  height: 30px; 
  border-style: none;
}

/* STYLING FOOTER */
.footer {
  position: absolute;
  width: 1440px;
  height: 48px;
  left: 0px;
  top: 3500px;

  
  padding-bottom: 10px;

  background-color: #00387A;
  color: #FFFFFF;
}

.footer h3{
  top: 40px;
  float: right;
  padding-right: 24px;

  font-size: 14px;
}






